[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Where all this stuff begins
[access "refs/*"]
	owner = group user/ElDainosor (eldainosor)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ElDainosor (eldainosor)
	label-Verified = -1..+1 group user/ElDainosor (eldainosor)
	push = group user/ElDainosor (eldainosor)
	read = group user/ElDainosor (eldainosor)
	rebase = group user/ElDainosor (eldainosor)
	removeReviewer = group user/ElDainosor (eldainosor)
	submit = group user/ElDainosor (eldainosor)
[access "refs/heads/*"]
	create = group user/ElDainosor (eldainosor)
	push = +force group user/ElDainosor (eldainosor)
	pushMerge = group user/ElDainosor (eldainosor)
	read = group user/ElDainosor (eldainosor)
[access "refs/tags/*"]
	push = group user/ElDainosor (eldainosor)
	push = +force group user/ElDainosor (eldainosor)
