[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Where all this stuff begins
[access "refs/*"]
	owner = group user/eldainosor
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/eldainosor
	label-Verified = -1..+1 group user/eldainosor
	push = group user/eldainosor
	read = group user/eldainosor
	rebase = group user/eldainosor
	removeReviewer = group user/eldainosor
	submit = group user/eldainosor
[access "refs/heads/*"]
	create = group user/eldainosor
	push = +force group user/eldainosor
	pushMerge = group user/eldainosor
	read = group user/eldainosor
[access "refs/tags/*"]
	push = group user/eldainosor
	push = +force group user/eldainosor
